.nav{
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 2.5rem 0;
    background-color: white;
    &__contenedor{
        padding: 0 2rem;
        &__caja{
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 920px){
                display: none;
               }
            &__menu1{
                text-transform: lowercase;
                color: black;
            }
            &__menu2{
                display: flex;
                justify-content: space-between;
                &__item{
                    &--link{
                        padding: 0 2rem;
                        color: black;
                    }
                }      
            }
            &__menu3{
                display: flex;
                color: black;
            }
        }
    }
}